
<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-80">

        <div class="col-md-2 card my-5 border-black  bg-yellow">
                <!--   Si tonia  -->
                <p *ngIf="isTonia" class="h3">Tonia</p>
                <p *ngIf="!isTonia" class="h3">Mpiandraikitra</p>
                <h1 *ngIf="isTonia">{{numOfTonia}}</h1>
                <h1 *ngIf="!isTonia">{{numberOfMp}}</h1>
        </div>
        <div class="col-md-8 " *ngIf="!isTonia" >
            <app-card-mp  *ngFor="let mp of listOfMp" [mp]="mp" [sampana]="sampanaName" ></app-card-mp>
        </div>

        <div class="col-md-8 " *ngIf="isTonia">
            <app-card-tonia *ngFor="let tonia of listOfTonia" [tonia]="tonia" [sampana]="sampanaName"></app-card-tonia>
        </div>
        
    </div>
</div>


<div class="container" *ngIf="!isTonia">
    <div class="row mt-65">
        <div class="col-md-2 col-sm-4 mb-3 card border-black bg-yellow">
            <p class="h3">Beazina</p>
            <h1>{{numOfBea}}</h1>
        </div>
        <div class="col-md-8 ">
            <app-card-bea *ngFor="let bea of listOfBea" [bea]="bea" [sampana]="sampanaName"></app-card-bea>
        </div>
  
    </div>
</div>

