
<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-65">

        <div class="col-md-2 border">
           
                <p>Mpiandraikitra</p>
                <h1>{{numberOfMp}}</h1>
          
        </div>
        <div class="col-md-8 border">
            <app-card-mp *ngFor="let mp of listOfMp" [mp]="mp"></app-card-mp>
        </div>
        
        
        
  
    </div>
</div>


<div class="container">
    <div class="row mt-65">
        <div class="col-md-2 col-sm-4 card mx-5">
            <p>Beazina</p>
            <h1>50</h1>
        </div>
        <div class="col-md-8 ">
            <div class="row my-2">
                <div class="card col-md-2 border">
                    <img src="assets/todi.JPG" class="img-fluid" alt="...">
                </div>
                <div class="col-md-9 card mx-2">
                    <h5><u><b>Anarana: </b></u> <i>RABEKOTO Tsiresy NY Riana Aldo Janny</i></h5>
                    <h5><u><b>Adiresy: </b></u> <i>LOT 239 I Ambohinambo Talatamaty</i></h5>
                    <h5><u><b>Finday: </b></u> <i>034 88 099 77</i></h5>
                </div>   
            </div>
           


            
            
        </div>
  
    </div>
</div>

