<div class="card col-md-8">
    <img class="card-img-top-full" [src]="trueImageLink" alt="Card image">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">{{ user.fullName }}</li>
            <li class="list-group-item">{{user.username}}</li>
            <li class="list-group-item">{{user.role}}</li>
          </ul>
          <br>
          <div>
              
          </div>
         <div class="col-">
            <a class="btn btn-primary mx-3" *ngIf="roleActive=='mpiandraikitra'" routerLink="/home">Hiverina</a>
            <a *ngIf="!user.avatar" [routerLink]="'/upload-avatar/'+[idUser]" class="btn btn-success pull-right">Hampiditra sary</a>
         </div>

         
    </div>
</div>




