<div class="row mt-4 m-0 text-white">
    <div class="col-md-4"></div>
    <div class="col-md-4 border p-3">
        <form class="p-2" #info="ngForm" (ngSubmit)="loginFromService(info)">
            <legend class="h2">
                Fidirana
            </legend>
            <div class="alert alert-danger" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <hr>
            <div class="form-group">
                <label for="username" class="h3">Fiantsoana: </label>
                <input type="text" name="username" id="username" class="form-control sI20" ngModel required>
            </div>
            <div class="form-group">
                <label for="password" class="h3">Teny Miafina: </label>
                <input type="password" name="password" id="password" class="form-control sI20" ngModel required>
            </div>
            <div class="form-group">
                <button [disabled]="info.invalid" type="submit" class="btn btn-primary btn-block sI20">Hiditra</button>
            </div>
            <div class="form-group h3" >
                <a routerLink="/register">Hamorona kaonty</a>
            </div>
        </form>
    </div>
</div>

