.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active{
    background-color: rgb(5, 158, 5);
    padding: 10px;
    border-radius: 5px;
    color: white; 

}