<div class="row mt-4">
    <div class="col-md-4"></div>
    <div class="col-md-4 border p-3">
        <form class="p-2" #info="ngForm" (ngSubmit)="registerFromService(info)">
            <legend>
                Hamorona Kaonty
            </legend>
            <div class="alert alert-danger" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <hr>
            <div class="form-group">
                <label for="fullName">Anarana Feno:  </label>
                <input type="text" name="fullName" id="fullName" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="username">Fiantsoana </label>
                <input type="text" name="username" id="username" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="role">Andraikitra sahanina: </label>
                <select (input)="handleRole($event)" name="role" id="role" class="form-control" [ngModel]="defaultRole">
                    <option value="tonia">Tonia</option>
                    <option value="mpiandraikitra">Mpiandraikitra</option>
                    <option value="beazina">Beazina</option>
   
                </select>
            </div>
            <div class="form-group" *ngIf="isTonia">
                <label for="sampana">Sampana: </label>
                <select name="sampana" id="sampana" class="form-control" [ngModel]="defaultSampana">
                    <option value="lovitao" selected>sampana misy anao</option>
                    <option value="lovitao">Lovitao</option>
                    <option value="mpianjoria">Mpianjoria</option>
                    <option value="mpamakilay">Mpamakilay</option>
                    <option value="mpiandalana">Mpiandalana</option>
   
                </select>
            </div>
            
            <div class="form-group">
                <label for="password">Teny Miafina: </label>
                <input type="password" name="password" id="password" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <button [disabled]="info.invalid" type="submit" class="btn btn-primary btn-block">Hamorona</button>
            </div>
            <div class="form-grou">
                <a routerLink="">Efa manana Kaonty</a>
            </div>
        </form>
    </div>
</div>
