<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-65">
        <div class="col-md-12 ">
            <h3 class="">Antotanisa</h3>
            <hr>
        </div>
        <div class="col-md-2 col-sm-4 card mx-5">
            <p>Tonia</p>
            <h1>{{nbT}}</h1>
        </div>
        <br>
        <div class="col-md-2 col-sm-4 card mx-5">
            <p>MPiandraikitra</p>
            <h1>{{nbMp}}</h1>
        </div>
        <br>
        <div class="col-md-2 col-sm-4 card mx-5">
            <p>Beazina</p>
            <h1>{{nbBea}}</h1>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row mt-65">
        <div class="col-md-12 ">
            <h3 class="">Sampana</h3>
            <hr>
        </div>
        <a routerLink="/sampana/lovitao" class="col-md-2 card-sm-12  card mx-3 bg-warning text-white text-center" >
            <p>Lovitao</p>
        </a>
        <br>
        <a routerLink="/sampana/mpianjoria" class="col-md-2  card mx-3 bg-success text-white text-center">
            <p>Mpianjoria</p>
        </a>
        <br>
        <a  routerLink="/sampana/mpamakilay" class="col-md-2 card mx-3 bg-primary text-white text-center">
            <p>MPamakilay</p>
        </a>
        <br>
        <a  routerLink="/sampana/mpiandalana" class="col-md-2  card mx-3 bg-danger text-white text-center">
            <p>Miandala</p>
        </a>
        <br>
        <a  routerLink="/sampana/tonia" class="col-md-2  card mx-3 bg-secondary text-white text-center">
            <p>Tonia</p>
        </a>
    </div>
</div>