<app-navbar></app-navbar>
<div class="container">

    <div class="row mt-65">
        <div class="col-md-12  text-center">
            <h3 class="text-white h1">ANTOTANISA</h3>
            <hr>
        </div>
        <div class="col-md-4 col-sm-12 card border-black   nav-sampana">
            <p class="h2">Tonia</p>
            <p class="h3">{{nbT}}</p>
        </div>
        <br>
        <div class="col-md-3 col-sm-12 border-black  card m-2 nav-sampana" >
            <div class="row">
                <div class="col-md-4">
                    <p class="h2">MPiandraikitra</p>
                    <p  class="h3">{{nbMp}}</p>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li class="small sI20">Lovitao: {{ nbEeachSampanaMp.lovitao }}</li>
                        <li class="small sI20">Mpianjoria: {{ nbEeachSampanaMp.mpianjoria }}</li>
                        <li class="small sI20">Mpamakilay: {{ nbEeachSampanaMp.mpamakilay }}</li>
                        <li class="small sI20">Mpiandalana: {{ nbEeachSampanaMp.mpiandalana }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4 col-sm-12 col-sm-4 border-black card  nav-sampana">
            <div class="row">
                <div class="col-md-4">
                    <p class="h2">Beazina</p>
                    <p class="h3">{{nbBea}}</p>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li class="small sI20">Lovitao: {{nbEeachSampanaBea.lovitao}}</li>
                        <li class="small sI20">Mpianjoria: {{nbEeachSampanaBea.mpianjoria}}</li>
                        <li class="small sI20">Mpamakilay: {{nbEeachSampanaBea.mpamakilay}}</li>
                        <li class="small sI20">Mpiandalana: {{nbEeachSampanaBea.mpiandalana}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>


<div class="container">
    <div class="row ">
        <div class="col-md-12  text-white text-center">
            <h3 class="h1">SAMPANA</h3>
            <hr>
        </div>
        <a routerLink="/sampana/lovitao" class="col-md-2 card-sm-12 my-1  card mx-3 bg-warning text-white text-center d-flex border-black  justify-content-center pt-3" >
            <p class="sI20">LOVITAO</p>
        </a>
        <br>
        <a routerLink="/sampana/mpianjoria"   class="col-md-2 pt-3  my-1 card mx-3 bg-success text-white text-center border-black ">
            <p class="sI20">MPIANJORIA</p>
        </a>
        <br>
        <a  routerLink="/sampana/mpamakilay" class=" border-black col-md-2  my-1 pt-3 card mx-3 bg-primary text-white text-center">
            <p class="sI20">MPAMAKILAY</p>
        </a>
        <br>
        <a  routerLink="/sampana/mpiandalana" class="col-md-2 border-black  my-1 pt-3 card mx-3 bg-danger text-white text-center">
            <p class="sI20">MPIANDALANA</p>
        </a>
        <br>
        <a  routerLink="/sampana/tonia" class="col-md-2 pt-3  my-1 border-black  card mx-3 bg-secondary text-white text-center">
            <p class="sI20">TONIA</p>
        </a>
    </div>
</div>