
<div class="card mb-3 card-details border" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 dFlexCol">
        <img [src]="imageLink"alt="..." class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">
          <p class="h4"><b>Anarana: </b> <i>{{mp.fullName}}</i></p>
  
          <p class="card-text"><small class="text-muted h5">{{mp.sampana}}</small></p>
          <p class="d-flex justify-content-between">
            <a [routerLink]="'/user/'+[id_user]" class="btn btn-primary">HIJERY</a>
            <a [routerLink]="'/user/edit/'+[id_user]" class="btn btn-success" *ngIf="isNotBeazina" >HANOVA</a>
            <button (click)="removeUserFromService(mp._id)" *ngIf="isNotBeazina" class="btn btn-danger">HAMAFA</button>
          </p>
        </div>
      </div>
    </div>
  </div>