<div class="col-md-7">
    <div class="row my-2">
        <div class="card col-md-2 border">
            <img src="assets/todi.JPG" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 card mx-2">
            <!-- <h5><u><b>Anarana: </b></u> <i>RABEKOTO Tsiresy NY Riana Aldo Janny</i></h5>
            <h5><u><b>Adiresy: </b></u> <i>LOT 239 I Ambohinambo Talatamaty</i></h5>
            <h5><u><b>Finday: </b></u> <i>034 88 099 77</i></h5> -->
            <h5><u><b>Anarana: </b></u> <i>{{mp.fullName}}</i></h5>
            <h5><u><b>Anjara asa: </b></u> <i>{{mp.role}}</i></h5>
            <h5><u><b>sampana: </b></u> <i>{{mp.sampana}}</i></h5>
            

        </div>   
    </div>
</div>