<!-- <div class="col-md-7">
    <div class="row my-2">
        <div class="card col-md-2 border">
            <img [src]="imageLink" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 card mx-2">
            <h5><u><b>Anarana: </b></u> <i>{{tonia.fullName}}</i></h5>
            <h5><u><b>Anjara asa: </b></u> <i>{{tonia.role}}</i></h5>
            <h5><u><b>sampana: </b></u> <i>{{tonia.sampana}}</i></h5>
            <a [routerLink]="'/user/'+[id_user]" class="btn btn-primary">HIJERY</a>
        </div>   
    </div>
</div>

 -->




<div class="card mb-3 card-details border" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 dFlexCol">
        <img [src]="imageLink"alt="..." class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">

            
            <b>Anarana: </b> <i>{{tonia.fullName}}</i>
          </p>
          <p class="card-text"><small class="text-muted">{{tonia.role}}</small></p>
          <p class="d-flex justify-content-between">
            
            
            <a [routerLink]="'/user/'+[id_user]" class="btn btn-primary">HIJERY</a>
            <a [routerLink]="'/user/edit/'+[id_user]" class="btn btn-success" *ngIf="isNotBeazina" >HANOVA</a>
            <button (click)="removeToniaFromService(tonia._id)" class="btn btn-danger" *ngIf="isNotBeazina" >HAMAFA</button>
          </p>
        </div>
      </div>
    </div>
  </div>